@using MvcWeb.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="page-header">
        <h1>Invoice Template  </h1>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 body-main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-8 text-right">
                            <p>PointerSkins@gmail.com</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Mi Carrito</h2>
                        </div>
                    </div>
                    <br />
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><h5>Descripcion</h5></th>
                                    <th><h5>Cantidad</h5></th>
                                    <th><h5>Stock</h5></th>
                                    <th><h5>Sub-Total</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Session["Carrito"] as List<Producto>)
                                {
                                <tr>
                                    <td class="col-md-3">@item.nombre</td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> @item.stock </td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> @item.stock </td>
                                    <td class="col-md-3"><i class="fas fa-rupee-sign" area-hidden="true"></i> @item.precio </td>
                                </tr>
                                  
                                }
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                    <p>
                                        <strong>Total:</strong>
                                    </p>
                                    <p>
                                        <strong>Total Amount: </strong>
                                    </p>
                                    <p>
                                        <strong>Discount: </strong>
                                    </p>
                                    <p>
                                        <strong>Payable Amount: </strong>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        @foreach (var item in Session["Carrito"] as List<Producto>)
                                        {
                                            var Total = 0;
                                            var precio = 0;
                                            precio = item.precio;
                                            Total = Total + precio;
                                            <strong><i class="fas fa-rupee-sign" area-hidden="true">@Total</i></strong>
                                        }
                                    </p>
                                    <p>
                                        <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 82,900</strong>
                                    </p>
                                    <p>
                                        <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 3,000 </strong>
                                    </p>
                                    <p>
                                        <strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 79,900</strong>
                                    </p>
                                </td>
                            </tr>
                                <tr style="color: #F81D2D;">
                                    <td class="text-right"><h4><strong>Total:</strong></h4></td>
                                    <td class="text-left"><h4><strong><i class="fas fa-rupee-sign" area-hidden="true"></i> 79,900 </strong></h4></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <p><b>Date :</b> ??/??/????</p>
                            <br />
                            <p><b>Signature</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


