@model MvcWeb.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2 style="background-color:white;width:30%">Eliminar producto</h2>

<h3 style="background-color:white;width:50%">¿Estas seguro en que quieres borrar este elemento?</h3>
<div style="background-color:white;width:50%;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.imagen)" style="width: 150px; height: 100px; border-radius:4px;" alt="No hay imagen"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
