@model MvcWeb.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2 style="display:inline;background-color:white">Detalles Producto</h2>

<div style="background-color:white;width:50%">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.imagen)" style="width: 180px; height: 100px; border-radius:4px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
<p >
    <button class="btn btn-primary">@Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @style = "text-decoration:none ;color:white;" })</button>
    <button class="btn btn-danger">@Html.ActionLink("Volver", "Index", null, new { @style = "text-decoration:none ;color:white;" }) </button>
</p>
</div>
