@model IEnumerable<MvcWeb.Models.Producto>
@{
    ViewBag.Title = "Home Page";
}

<div id="divCarrito">
    @Html.Partial("_carrito")
</div>

<div class="container">
    <div >
        <img src="https://images.cooltext.com/5608714.png" />
    </div> <br />
    <div class="row">
       <h2 style="color: white;">Destacado</h2>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <div class="container-fluid">

            <div id="my-pics" class="carousel slide" data-ride="carousel" style="width:950px;margin:auto;">

                <ol class="carousel-indicators">
                    <li data-target="#my-pics" data-slide-to="0" class="active"></li>
                    <li data-target="#my-pics" data-slide-to="1"></li>
                    <li data-target="#my-pics" data-slide-to="2"></li>
                    <li data-target="#my-pics" data-slide-to="3"></li>
                    <li data-target="#my-pics" data-slide-to="4"></li>
                    <li data-target="#my-pics" data-slide-to="5"></li>
                    <li data-target="#my-pics" data-slide-to="6"></li>
                    <li data-target="#my-pics" data-slide-to="7"></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://pbs.twimg.com/media/EtJOnxpXEAALHhz.jpg:large" alt="phantom glitchpop">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://cdn.sanity.io/images/ccckgjf9/production/a38f2dc7b13741de0ab33d69ff14fc8e6ed8ef18-1100x619.jpg?max-h=1080&max-w=1920&fit=scale&auto=format" alt="Spectre">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://www.gamersdecide.com/sites/default/files/authors/u159057/primevandal.jpg" alt="vandal prime">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://cdn.firstsportz.com/wp-content/uploads/2022/05/18010726/New-Project-93-1024x576.jpg" alt="vandal glitchpop">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://i.ytimg.com/vi/gnOoBAMHU-Y/maxresdefault.jpg" alt="vandal Reaver">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://valorantstrike.com/wp-content/uploads/Valorant-RGX-11z-Pro-2-Collection-Classic-HD.jpg" alt="Classic RGX">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://images.cults3d.com/g9fPoSFSnGy25Qv36WOF4v30G0E=/https://files.cults3d.com/uploaders/21595173/illustration-file/9cd781c8-388f-450e-8f51-a8bf2c7e8ed6/Valorant-Sentinels-of-Light-Collection-Sheriff-HD.jpg" alt="Sheriff Centinela">
                    </div>

                    <div class="item">
                        <img class="img-responsive" style="width: 1110px;height: 350px;" src="https://www.splitskins.com/uploads/1/3/3/8/133851419/svoereign-marshal-silver-ingame_orig.jpg" alt="Marshal arbolito">
                    </div>
                </div>

                <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $(function () {
                $('[data-toggle="popover"]').popover()
            })
        </script>
    </div>
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="col-md-2" >
                        <div class="card table-bordered  text-center" style="background-color:white;margin-top: 10px; width: 18rem; height: 250px;">
                            <h5 class="card-title bg-danger text-capitalize ">@Html.DisplayFor(modelItem => item.nombre)</h5>
                            <div class="card-body">
                                <img class="img-responsive" src="@Html.DisplayFor(modelItem => item.imagen)" />
                                <p class="card-text">
                                    <Span class="text-uppercase text-info bg-success">Stock:</Span>@Html.DisplayFor(modelItem => item.stock)
                                    <Span class="text-uppercase text-info bg-success">Precio:</Span>@Html.DisplayFor(modelItem => item.precio)
                                    <Span class="text-uppercase text-info bg-success">Detalles:</Span>@Html.DisplayFor(modelItem => item.descripcion)
                                </p>
                                <button  style="position:absolute;bottom:0;right:10%;" onclick="AddToCart(@item.Id)" class="btn btn-warning">Añadir al carrito</button>
                            </div>
                        </div>


                    </div>
                    
                        }
            </div>
        </div>
    </div>

    @section scripts{
        <script>

            function AddToCart(Id) {
                axios.get('/Home/AddToCart?Id=' + Id)
                    .then(function (response) {
                        var divCarrito = document.getElementById("divCarrito");
                        divCarrito.innerHTML = response.data;
                        console.log(response);
                    })
            }
        </script>
    }
