@model IEnumerable<MvcWeb.Models.Producto>
@{
    ViewBag.Title = "Home Page";
}

<div id="divCarrito">
    @Html.Partial("_carrito")
</div>

<div class="container">
    <h1>PointerSkins</h1>
    </div>
    <div class="row">
        <h2>Destacado</h2>
        <div class="col-md-12">
            @foreach (var item in Model)
                {
                    <div class="col-md-2">
                        @Html.DisplayFor(modelItem => item.nombre)
                        <img class="img-responsive" src="https://codigoesports.com/wp-content/uploads/2020/05/VANDAL-VALORANT.png" />
                        @Html.DisplayFor(modelItem => item.stock)
                        @Html.DisplayFor(modelItem => item.precio)
                        @Html.DisplayFor(modelItem => item.descripcion)

                        @if (Request.IsAuthenticated)
                        {
                            <button onclick="AddToCart(@item.Id)">Añadir al carrito</button>
                        }

                    </div>
                }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>

    <script type="text/javascript">

        function AddToCart(Id) {
            axios.get('/Home/AddToCard?Id=' + Id).then(function (response) {
                var divCarrito = document.getElementById("divCarrito");
                divCarrito.innerHTML = response.data;
                Console.log(response);
            })
        }
    </script>
</div>